button {
  width: 100%;
  height: 60px;
  background-color: #d11e12;
  border: none;
  outline: none;
  color: #ffffff;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    background-color: #be180d;
  }
}
