@import '../../assets/styles/mixins.scss';

.wrapper {
  &__rectangle {
    @include responsive-size(width, 0px, 0px, 458px, 610px, 850px);
    width: 850px;
    height: 200px;
    background-color: rgba(209, 30, 18, 0.5);
    position: absolute;
    z-index: -1;
    top: 0;
  }
}

.slide {
  display: flex;
  @include responsive-size(padding-left, 16px, 60px, 60px, 60px, 100px);
  @include responsive-size(padding-right, 16px, 60px, 60px, 60px, 100px);

  &__header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    @include responsive-size(width, 0px, 0px, 374px, 500px, 700px);
    margin-top: 20px;
    margin-bottom: 24px;
  }

  &__title {
    @include responsive-size(font-size, 14px, 16px, 16px, 16px, 16px);
  }

  &__name {
    @include responsive-size(font-size, 26px, 32px, 32px, 32px, 32px);
    margin-top: 8px;
  }

  &__buttons {
    display: flex;
    align-items: center;
    gap: 24px;

    &__prevBtn {
      width: 44px;
      height: 44px;
      border: 1px solid #ffffff;
      border-radius: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }

    &__nextBtn {
      @extend .slide__buttons__prevBtn;

      svg {
        transform: rotate(180deg);
      }
    }
  }

  &__photo {
    @include responsive-size(width, 0px, 0px, 398px, 550px, 750px);
    @include responsive-size(height, 267px, 431px, 265px, 365px, 476px);
    margin-bottom: 24px;

    img {
      width: 100%;
      @include responsive-size(height, 250px, 405px, 239px, 339px, 450px);
      object-fit: cover;
    }
  }

  &__btn {
    width: 250px;
    margin: 0 auto;
  }

  &__rightContent {
    width: 415px;
    @include responsive-size(margin-left, 26px, 32px, 64px, 120px, 120px);

    &__item {
      display: flex;
      align-items: center;
      width: 415px;
      justify-content: space-between;
      cursor: pointer;

      p {
        font-size: 18px;
        text-transform: uppercase;
      }
    }

    &__line {
      width: 100%;
      height: 1px;
      background-color: #989898;
      margin: 16px 0;
    }

    &__characteristics {
      margin-top: 16px;

      &__title {
        font-family: 'Montserrat Bold';
        text-transform: uppercase;
        margin-bottom: 4px;
      }

      &__subtitle {
        font-size: 16px;
        margin-left: 24px;
      }
    }

    &__specifications {
      display: flex;
      align-items: center;
      margin-top: 16px;

      &__title {
        min-width: 220px;
        width: 220px;
        font-size: 16px;
        color: #989898;
        margin-right: 10px;
      }

      &__value {
        font-size: 16px;
      }

      &__note {
        font-size: 16px;
        margin-top: 16px;
      }
    }
  }
}

@media screen and (max-width: 1023px) {
  .wrapper {
    &__rectangle {
      width: calc(100% - 60px);
    }
  }

  .slide {
    flex-direction: column;

    &__header {
      width: 100%;
      padding-right: 24px;
    }

    &__photo {
      width: 100%;
    }

    &__rightContent {
      margin-left: 0;
      width: 100%;
      margin-top: 80px;

      &__item {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .wrapper {
    &__rectangle {
      width: 100%;
    }
  }

  .slide {
    flex-direction: column;

    &__rightContent {
      margin-left: 0;
      width: 100%;
      margin-top: 80px;

      &__item {
        width: 100%;
      }

      &__specifications {
        &__title {
          min-width: 190px;
          width: 190px;
        }
      }
    }
  }
}
