@import '../../assets/styles/mixins.scss';

.about {
  width: 100%;
  height: 100%;
  background-image: url('/images/aboutBg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: auto;

  &__content {
    margin-top: 120px;
    padding-bottom: 50px;
    position: relative;

    &__number {
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
    }
  }

  &__textWrapper {
    display: flex;
    margin-top: 80px;
    @include responsive-size(padding-left, 16px, 60px, 60px, 60px, 100px);
    @include responsive-size(padding-right, 16px, 60px, 60px, 60px, 100px);

    &__leftText {
      white-space: pre-wrap;
      @include responsive-size(font-size, 18px, 18px, 18px, 24px, 24px);
      width: 633px;
      margin-right: 237px;
    }

    &__rightText {
      @include responsive-size(font-size, 18px, 14px, 14px, 18px, 18px);
      width: 633px;
      white-space: pre-wrap;
    }
  }
}

@media screen and (max-width: 1919px) {
  .about {
    &__textWrapper {
      justify-content: space-between;

      &__leftText {
        width: 483px;
        margin-right: 0;
      }

      &__rightText {
        width: 650px;
      }
    }
  }
}

@media screen and (max-width: 1439px) {
  .about {
    &__textWrapper {
      justify-content: space-between;
      flex-direction: row;
      gap: 50px;

      &__leftText {
        width: 100%;
        max-width: 483px;
        margin-right: 0;
      }

      &__rightText {
        margin-top: 0px;
        width: 100%;
        max-width: 650px;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .about {
    &__textWrapper {
      justify-content: space-between;
      flex-direction: row;

      &__leftText {
        width: 100%;
        max-width: 327px;
        margin-right: 0;
      }

      &__rightText {
        margin-top: 0px;
        width: 100%;
        max-width: 442px;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .about {
    .about {
      &__textWrapper {
        gap: 0px;
        justify-content: space-between;
        flex-direction: column;

        &__leftText {
          width: 100%;
          max-width: 100%;
          margin-right: 0;
        }

        &__rightText {
          margin-top: 40px;
          width: 100%;
          max-width: 100%;
        }
      }
    }
    &__content {
      &__number {
        display: none;
      }
    }
  }
}
